html{scroll-behavior: smooth;}

		/* @media screen and (min-width:751px) and (max-width:990px){
			body {width: 990px;}
		}
		@media screen and (min-width:991px){
			body {width: 100%;}
		} */

		a{text-decoration: none;}
		:root {

			--width:100%;
			--lightblue:#1091f5;
			--navy:#002554;

			--step--2: clamp(1.1111rem, 2.0228rem + -0.7597vw, 1.6667rem);
  			--step--1: clamp(1.6667rem, 3.0342rem + -1.1396vw, 2.5rem);
  			--step-0: clamp(2.5rem, 4.5513rem + -1.7094vw, 3.75rem);
  			--step-1: clamp(3.75rem, 6.8269rem + -2.5641vw, 5.625rem);
  			--step-2: clamp(5.625rem, 10.2404rem + -3.8462vw, 8.4375rem);
  			--step-3: clamp(8.4375rem, 15.3606rem + -5.7692vw, 12.6563rem);
  			--step-4: clamp(12.6563rem, 23.0409rem + -8.6538vw, 18.9844rem);
  			--step-5: clamp(18.9844rem, 34.5613rem + -12.9808vw, 28.4766rem);
		}

		input{display: none;}

		nav>a>div:nth-of-type(2){transform: translateX(100%);filter: drop-shadow(-5px 0px 6px rgba(0,0,0,0.0));transition-timing-function: ease-in-out;transition: transform 0.5s , filter 0.25s;}
		nav>a:hover>div:nth-of-type(2){transform: translateX(0);filter: drop-shadow(-5px 0px 6px rgba(0,0,0,0.5));}

		.for_pc {}
		.for_phone { display:none !important;}

		@media screen and (max-width:768px){
			.for_pc { display:none !important;}
			.for_phone { display: inherit !important;}
		}
	
		.btn1{background-color: rgba(0, 0, 0, 0.5);cursor: pointer;opacity: 0.5;transition-timing-function: ease-in-out;transition: opacity 0.25s;}
		.btn1:hover{opacity: 1;}

		.btn2{background-color: black;cursor: pointer;opacity: 0.2;transition-timing-function: ease-in-out;transition: opacity 0.25s;}
		.btn2:hover{background: var(--lightblue);opacity: 1;}

		.scrollwatcher{
  	  		scale: 0 1;
  	  		transform-origin: left;
  	  		animation: scrollwatcher linear forwards;
  	  		animation-timeline: scroll(y);
  	  	}

  	  	@keyframes scrollwatcher{
  	  		to {scale: 1 1;}
  	  	}

  	  	.GAP_KV_BOX>div{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}

  	  	.GAP_KV>input[type="radio"]:nth-of-type(1):checked ~ .GAP_KV_BOX>div{transform: translateX(0);}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(2):checked ~ .GAP_KV_BOX>div{transform: translateX(-100%);}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(3):checked ~ .GAP_KV_BOX>div{transform: translateX(-200%);}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(4):checked ~ .GAP_KV_BOX>div{transform: translateX(-300%);}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(5):checked ~ .GAP_KV_BOX>div{transform: translateX(-400%);}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(6):checked ~ .GAP_KV_BOX>div{transform: translateX(-500%);}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(7):checked ~ .GAP_KV_BOX>div{transform: translateX(-600%);}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(8):checked ~ .GAP_KV_BOX>div{transform: translateX(-700%);}

  	  	.GAP_KV>input[type="radio"]:nth-of-type(1):checked ~ .btn_box1>.btn1:nth-of-type(1){opacity: 1;background-color: #10bdf5;}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(2):checked ~ .btn_box1>.btn1:nth-of-type(2){opacity: 1;background-color: #10bdf5;}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(3):checked ~ .btn_box1>.btn1:nth-of-type(3){opacity: 1;background-color: #10bdf5;}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(4):checked ~ .btn_box1>.btn1:nth-of-type(4){opacity: 1;background-color: #10bdf5;}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(5):checked ~ .btn_box1>.btn1:nth-of-type(5){opacity: 1;background-color: #10bdf5;}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(6):checked ~ .btn_box1>.btn1:nth-of-type(6){opacity: 1;background-color: #10bdf5;}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(7):checked ~ .btn_box1>.btn1:nth-of-type(7){opacity: 1;background-color: #10bdf5;}
  	  	.GAP_KV>input[type="radio"]:nth-of-type(8):checked ~ .btn_box1>.btn1:nth-of-type(8){opacity: 1;background-color: #10bdf5;}

  	  	.LP_BTN{cursor: pointer;}
  	  	.LP_BTN>div{opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.25s;}
  	  	.LP_BTN:hover>div{opacity: 1;}

  	  	.LP_BOX>div>div>div{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}
		.LP>input[type="radio"]:nth-of-type(1):checked ~ .LP_BOX>div>div>div{transform: translateX(0);}
  	  	.LP>input[type="radio"]:nth-of-type(2):checked ~ .LP_BOX>div>div>div{transform: translateX(-100%);}
  	  	.LP>input[type="radio"]:nth-of-type(3):checked ~ .LP_BOX>div>div>div{transform: translateX(-200%);}
  	  	.LP>input[type="radio"]:nth-of-type(4):checked ~ .LP_BOX>div>div>div{transform: translateX(-300%);}
  	  	.LP>input[type="radio"]:nth-of-type(5):checked ~ .LP_BOX>div>div>div{transform: translateX(-400%);}
  	  	.LP>input[type="radio"]:nth-of-type(6):checked ~ .LP_BOX>div>div>div{transform: translateX(-500%);}
  	  	.LP>input[type="radio"]:nth-of-type(7):checked ~ .LP_BOX>div>div>div{transform: translateX(-600%);}
  	  	.LP>input[type="radio"]:nth-of-type(8):checked ~ .LP_BOX>div>div>div{transform: translateX(-700%);}
  	  	.LP>input[type="radio"]:nth-of-type(9):checked ~ .LP_BOX>div>div>div{transform: translateX(-800%);}
  	  	.LP>input[type="radio"]:nth-of-type(10):checked ~ .LP_BOX>div>div>div{transform: translateX(-900%);}

  	  	.LP>input[type="radio"]:nth-of-type(1):checked ~ .LP_BTN_BOX>.LP_BTN:nth-of-type(1)>div{opacity: 1;}
  	  	.LP>input[type="radio"]:nth-of-type(2):checked ~ .LP_BTN_BOX>.LP_BTN:nth-of-type(2)>div{opacity: 1;}
  	  	.LP>input[type="radio"]:nth-of-type(3):checked ~ .LP_BTN_BOX>.LP_BTN:nth-of-type(3)>div{opacity: 1;}
  	  	.LP>input[type="radio"]:nth-of-type(4):checked ~ .LP_BTN_BOX>.LP_BTN:nth-of-type(4)>div{opacity: 1;}
  	  	.LP>input[type="radio"]:nth-of-type(5):checked ~ .LP_BTN_BOX>.LP_BTN:nth-of-type(5)>div{opacity: 1;}
  	  	.LP>input[type="radio"]:nth-of-type(6):checked ~ .LP_BTN_BOX>.LP_BTN:nth-of-type(6)>div{opacity: 1;}
  	  	.LP>input[type="radio"]:nth-of-type(7):checked ~ .LP_BTN_BOX>.LP_BTN:nth-of-type(7)>div{opacity: 1;}
  	  	.LP>input[type="radio"]:nth-of-type(8):checked ~ .LP_BTN_BOX>.LP_BTN:nth-of-type(8)>div{opacity: 1;}
  	  	.LP>input[type="radio"]:nth-of-type(9):checked ~ .LP_BTN_BOX>.LP_BTN:nth-of-type(9)>div{opacity: 1;}
  	  	.LP>input[type="radio"]:nth-of-type(10):checked ~ .LP_BTN_BOX>.LP_BTN:nth-of-type(10)>div{opacity: 1;}

  	  	.LP_BOX>div>div>.LP_BOX2 img,.LP_BOX>div>div>.LP_BOX2 video{scale: 1;transition-timing-function: ease-in-out;transition: scale 0.5s;}
  	  	.LP_BOX>div>div>.LP_BOX2:hover img{scale: 1.04;}
  	  	.LP_BOX>div>div>.LP_BOX2:hover video{scale: 1.04;}
  	  	
  	  	.PC_VIDEO{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}
  	  	.PC_VIDEO_BOX>input[type="radio"]:nth-of-type(1):checked ~ div:nth-of-type(1)>.PC_VIDEO{transform: translateX(0);}
  	  	.PC_VIDEO_BOX>input[type="radio"]:nth-of-type(2):checked ~ div:nth-of-type(1)>.PC_VIDEO{transform: translateX(-100%);}

  	  	.VIDEO_BTN{cursor: pointer;}
  	  	.VIDEO_BTN:hover>div:nth-of-type(2){opacity: 1;}
  	  	.VIDEO_BTN>div:nth-of-type(2){opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.25s;}
  	  	.PC_VIDEO_BOX>input[type="radio"]:nth-of-type(1):checked ~ div:nth-of-type(2)>.VIDEO_BTN:nth-of-type(1)>div:nth-of-type(2){opacity: 1;}
  	  	.PC_VIDEO_BOX>input[type="radio"]:nth-of-type(2):checked ~ div:nth-of-type(2)>.VIDEO_BTN:nth-of-type(2)>div:nth-of-type(2){opacity: 1;}

  	  	.BANNER_BOX{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}
  	  	.PC_BANNER1>input[type="radio"]:nth-of-type(1):checked ~ div:nth-of-type(1)>.BANNER_BOX{transform: translateX(0);}
  	  	.PC_BANNER1>input[type="radio"]:nth-of-type(2):checked ~ div:nth-of-type(1)>.BANNER_BOX{transform: translateX(-100%);}

  	  	.BANNER_BTN{cursor: pointer;width: 43.75%;height: 100%;border-radius: 30px;background: linear-gradient(to left, #10bdf5 5%, #1091f5 100%);}

  	  	.BANNER_BTN_BOX>div{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;z-index: 1;}
  	  	.PC_BANNER1>input[type="radio"]:nth-of-type(1):checked ~ .BANNER_BTN_BOX>div{transform: translateX(0);}
  	  	.PC_BANNER1>input[type="radio"]:nth-of-type(2):checked ~ .BANNER_BTN_BOX>div{transform: translateX(-34.375%);}

  	  	.PC_BANNER1_BOX{cursor: pointer;}
  	  	.PC_BANNER1_BOX>div:nth-of-type(1),.PC_BANNER1_BOX>div:nth-of-type(4){opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
  	  	.PC_BANNER1_BOX>img{scale: 1;transition-timing-function: ease-in-out;transition: scale 0.5s;}
  	  	.PC_BANNER1_BOX:hover>img{scale: 1.05;}
  	  	.PC_BANNER1_BOX:hover>div:nth-of-type(1){opacity: 1;}
  	  	.PC_BANNER1_BOX>div:nth-of-type(4):hover{opacity: 1;}

  	  	.PC_BANNER2_BOX{cursor: pointer;}
  	  	.PC_BANNER2_BOX>div:nth-of-type(1){opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
  	  	.PC_BANNER2_BOX>div:nth-of-type(4){opacity: 1;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
  	  	.PC_BANNER2_BOX>img{scale: 1;transition-timing-function: ease-in-out;transition: scale 0.5s;}
  	  	.PC_BANNER2_BOX:hover>img{scale: 1.05;}
  	  	.PC_BANNER2_BOX:hover>div:nth-of-type(1){opacity: 1;}
  	  	.PC_BANNER2_BOX>div:nth-of-type(4):hover{opacity: 0;}

  	  	.BANNER_KV_BG{clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);}
		.BANNER_KV_BOX{clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);}

  	  	.BANNER_KV_BOX>div>div{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(1):checked ~ .BANNER_KV_BOX>div>div{transform: translateX(0);}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(2):checked ~ .BANNER_KV_BOX>div>div{transform: translateX(-100%);}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(3):checked ~ .BANNER_KV_BOX>div>div{transform: translateX(-200%);}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(4):checked ~ .BANNER_KV_BOX>div>div{transform: translateX(-300%);}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(5):checked ~ .BANNER_KV_BOX>div>div{transform: translateX(-400%);}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(6):checked ~ .BANNER_KV_BOX>div>div{transform: translateX(-500%);}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(7):checked ~ .BANNER_KV_BOX>div>div{transform: translateX(-600%);}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(8):checked ~ .BANNER_KV_BOX>div>div{transform: translateX(-700%);}

  	  	.BANNER_KV>input[type="radio"]:nth-of-type(1):checked ~ .BANNER_KV_BOX>.btn_box1>.btn1:nth-of-type(1){opacity: 1;background-color: #10bdf5;}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(2):checked ~ .BANNER_KV_BOX>.btn_box1>.btn1:nth-of-type(2){opacity: 1;background-color: #10bdf5;}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(3):checked ~ .BANNER_KV_BOX>.btn_box1>.btn1:nth-of-type(3){opacity: 1;background-color: #10bdf5;}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(4):checked ~ .BANNER_KV_BOX>.btn_box1>.btn1:nth-of-type(4){opacity: 1;background-color: #10bdf5;}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(5):checked ~ .BANNER_KV_BOX>.btn_box1>.btn1:nth-of-type(5){opacity: 1;background-color: #10bdf5;}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(6):checked ~ .BANNER_KV_BOX>.btn_box1>.btn1:nth-of-type(6){opacity: 1;background-color: #10bdf5;}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(7):checked ~ .BANNER_KV_BOX>.btn_box1>.btn1:nth-of-type(7){opacity: 1;background-color: #10bdf5;}
  	  	.BANNER_KV>input[type="radio"]:nth-of-type(8):checked ~ .BANNER_KV_BOX>.btn_box1>.btn1:nth-of-type(8){opacity: 1;background-color: #10bdf5;}

  	  	.PC_AD_BOX>div{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}
  	  	.PC_AD>input[type="radio"]:nth-of-type(1):checked ~ .PC_AD_BOX>div{transform: translateX(0);}
  	  	.PC_AD>input[type="radio"]:nth-of-type(2):checked ~ .PC_AD_BOX>div{transform: translateX(-10%);}
  	  	.PC_AD>input[type="radio"]:nth-of-type(3):checked ~ .PC_AD_BOX>div{transform: translateX(-20%);}
  	  	.PC_AD>input[type="radio"]:nth-of-type(4):checked ~ .PC_AD_BOX>div{transform: translateX(-30%);}
  	  	.PC_AD>input[type="radio"]:nth-of-type(5):checked ~ .PC_AD_BOX>div{transform: translateX(-40%);}
  	  	.PC_AD>input[type="radio"]:nth-of-type(6):checked ~ .PC_AD_BOX>div{transform: translateX(-50%);}
  	  	.PC_AD>input[type="radio"]:nth-of-type(7):checked ~ .PC_AD_BOX>div{transform: translateX(-60%);}
  	  	.PC_AD>input[type="radio"]:nth-of-type(8):checked ~ .PC_AD_BOX>div{transform: translateX(-70%);}
  	  	.PC_AD>input[type="radio"]:nth-of-type(9):checked ~ .PC_AD_BOX>div{transform: translateX(-80%);}
  	  	.PC_AD>input[type="radio"]:nth-of-type(10):checked ~ .PC_AD_BOX>div{transform: translateX(-90%);}

  	  	.AD_BOX{cursor: pointer;overflow: hidden;}
  	  	.AD_BOX>div{opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.25s;}
  	  	.AD_BOX:hover>div{opacity: 1;}
  	  	.PC_AD>input[type="radio"]:nth-of-type(1):checked ~ div:nth-of-type(2)>.AD_BOX:nth-of-type(1)>div{opacity: 1;}
  	  	.PC_AD>input[type="radio"]:nth-of-type(2):checked ~ div:nth-of-type(2)>.AD_BOX:nth-of-type(2)>div{opacity: 1;}
  	  	.PC_AD>input[type="radio"]:nth-of-type(3):checked ~ div:nth-of-type(2)>.AD_BOX:nth-of-type(3)>div{opacity: 1;}
  	  	.PC_AD>input[type="radio"]:nth-of-type(4):checked ~ div:nth-of-type(2)>.AD_BOX:nth-of-type(4)>div{opacity: 1;}
  	  	.PC_AD>input[type="radio"]:nth-of-type(5):checked ~ div:nth-of-type(2)>.AD_BOX:nth-of-type(5)>div{opacity: 1;}
  	  	.PC_AD>input[type="radio"]:nth-of-type(6):checked ~ div:nth-of-type(2)>.AD_BOX:nth-of-type(6)>div{opacity: 1;}
  	  	.PC_AD>input[type="radio"]:nth-of-type(7):checked ~ div:nth-of-type(2)>.AD_BOX:nth-of-type(7)>div{opacity: 1;}
  	  	.PC_AD>input[type="radio"]:nth-of-type(8):checked ~ div:nth-of-type(2)>.AD_BOX:nth-of-type(8)>div{opacity: 1;}
  	  	.PC_AD>input[type="radio"]:nth-of-type(9):checked ~ div:nth-of-type(2)>.AD_BOX:nth-of-type(9)>div{opacity: 1;}
  	  	.PC_AD>input[type="radio"]:nth-of-type(10):checked ~ div:nth-of-type(2)>.AD_BOX:nth-of-type(10)>div{opacity: 1;}

  	  	

  	  	.list1{
    		transform: translateX(0);
    		animation: autorun 10s ease-in-out infinite;
    	}

    	@keyframes autorun{
	     0%   {transform: translateX(0);}
	     100% {transform: translateX(-50%);}
	 	}



	 	.scrolldark{
	 		display: block;
	 		background-color: rgba(0, 0, 0, 0);
	 		background-blend-mode: multiply;
	 		opacity: 1;
  	  		animation: scrollbardark ease-in-out forwards;
  	  		animation-timeline: scroll(y);
	 	}

		@keyframes 	scrollbardark{
			0% {opacity: 1;}
    		90% {opacity: 1;}
    		100% {opacity: 0;}
		}

		.PC_DP2{
			transform: translateX(0);
			animation: PC_DP2 18s ease-in-out infinite;
		}	

		@keyframes PC_DP2{
			0%     {transform: translateX(0);}
			22.22% {transform: translateX(0);}
 			33.33% {transform: translateX(-100%);}
			100%   {transform: translateX(-100%);}
		}

		.PC_DP3{
			transform: translateX(0);
			animation: PC_DP3 18s ease-in-out infinite;
		}	

		@keyframes PC_DP3{
			0%     {transform: translateX(0);}
			55.55% {transform: translateX(0);}
			66.66% {transform: translateX(-100%);}
			100%   {transform: translateX(-100%);}
		}

		.PC_DP4{
			transform: translateX(0);
			animation: PC_DP4 18s ease-in-out infinite;
		}	

		@keyframes PC_DP4{
			0%     {transform: translateX(0);}
			88.88% {transform: translateX(0);}
			100%   {transform: translateX(-100%);}
			100%   {transform: translateX(-100%);}
		}

		.PC_DP{
  	  		z-index: 2;
  	  		
  	  	}

  		.PC_DP5_BOX{
  	  		z-index: 1;
  	  		
  	  	}

  	  	.PC_DP5{cursor: pointer;}
  	  	.PC_DP5:hover>div:nth-of-type(2){opacity: 0;}
  	  	

  	  	.PC-FARBIC_DP{
  	  		transform: translateX(0);
  	  		animation: PC-FARBIC_DP 25s cubic-bezier(.77,.02,.29,1.01) infinite;
  	  	}

  	  	.PC-FARBIC_DP_BOX{cursor: pointer;clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);}
  	  	.PC-FARBIC_DP_BOX:hover>.PC-FARBIC_DP{animation-play-state: paused;}

  	  	@keyframes PC-FARBIC_DP{
  	  		0%   {transform: translateX(0);}
  	  		12%  {transform: translateX(0);}
  	  		20%  {transform: translateX(-100%);}
  	  		32%  {transform: translateX(-100%);}
  	  		40%  {transform: translateX(-200%);}
  	  		52%  {transform: translateX(-200%);}
  	  		60%  {transform: translateX(-300%);}
  	  		72%  {transform: translateX(-300%);}
  	  		80%  {transform: translateX(-400%);}
  	  		92%  {transform: translateX(-400%);}
  	  		100% {transform: translateX(-500%);}
  	  	}

  	  	.PC_DP6{
  	  		transform: translateX(0);
  	  		animation: PC_DP6 10s cubic-bezier(.77,.02,.29,1.01) infinite;
  	  	}

  	  	@keyframes PC_DP6{
  	  		0%   {transform: translateX(0);}
  	  		30%  {transform: translateX(0);}
  	  		50%  {transform: translateX(-33.33%);}
  	  		80%  {transform: translateX(-33.33%);}
  	  		100% {transform: translateX(-66.66%);}
  	  	}

  	  	.PC_DP7{
  	  		transform: translateX(0);
  	  		animation: PC_DP7 10s linear infinite;
  	  	}

  	  	@keyframes PC_DP7{
  	  		0%   {transform: translateX(0);}
  	  		100% {transform: translateX(-66.66%);}
  	  	}

  	   .PC_DP8{cursor: pointer;}
       .DP_BOX{clip-path: polygon(0% 0%, 0% 0%,100% 0%,100% 0%);border-radius: 30px;}
       .DP_DARK{clip-path: polygon(0% 0%, 0% 0%,100% 0%,100% 0%);border-radius: 30px;}
       .DP_IMG{scale: 1;filter: blur(0);}

/*H5的內容*/	
	
	  
  	  	.H5_scrollbar{
  	  		scale: 0 1;
  	  		transform-origin: left;
  	  		background: linear-gradient(to left, #10bdf5 5%, #1091f5 100%);
  	  		animation: H5_scrollbar linear forwards;
  	  		animation-timeline: scroll(y);
  	  	}

  	  	@keyframes H5_scrollbar{
			from {scale: 0 1;}
  	  		to {scale: 1 1;}
  	  	}

		.H5_NAV_ABOUTME , .H5_NAV_WORK{cursor: pointer;opacity: 0;}
		.H5_NAV_ABOUTME:hover{opacity: 1;}
		.H5_NAV_WORK:hover{opacity: 1;}

  	  	.H5_KV_BOX>div{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}

  	  	.H5_KV>input[type="radio"]:nth-of-type(1):checked ~ .H5_KV_BOX>div{transform: translateX(0);}
  	  	.H5_KV>input[type="radio"]:nth-of-type(2):checked ~ .H5_KV_BOX>div{transform: translateX(-12.5%);}
  	  	.H5_KV>input[type="radio"]:nth-of-type(3):checked ~ .H5_KV_BOX>div{transform: translateX(-25%);}
  	  	.H5_KV>input[type="radio"]:nth-of-type(4):checked ~ .H5_KV_BOX>div{transform: translateX(-37.5%);}
  	  	.H5_KV>input[type="radio"]:nth-of-type(5):checked ~ .H5_KV_BOX>div{transform: translateX(-50%);}
  	  	.H5_KV>input[type="radio"]:nth-of-type(6):checked ~ .H5_KV_BOX>div{transform: translateX(-62.5%);}
  	  	.H5_KV>input[type="radio"]:nth-of-type(7):checked ~ .H5_KV_BOX>div{transform: translateX(-75%);}
  	  	.H5_KV>input[type="radio"]:nth-of-type(8):checked ~ .H5_KV_BOX>div{transform: translateX(-87.5%);}

  	  	.H5-btn1{cursor: pointer;opacity: 0.2;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
  	  	.H5-btn1:hover{opacity: 1;}

  	  	.H5_KV>input[type="radio"]:nth-of-type(1):checked ~ .H5_btn_BOX1>.H5-btn1:nth-of-type(1){opacity: 1;}
  	  	.H5_KV>input[type="radio"]:nth-of-type(2):checked ~ .H5_btn_BOX1>.H5-btn1:nth-of-type(2){opacity: 1;}
  	  	.H5_KV>input[type="radio"]:nth-of-type(3):checked ~ .H5_btn_BOX1>.H5-btn1:nth-of-type(3){opacity: 1;}
  	  	.H5_KV>input[type="radio"]:nth-of-type(4):checked ~ .H5_btn_BOX1>.H5-btn1:nth-of-type(4){opacity: 1;}
  	  	.H5_KV>input[type="radio"]:nth-of-type(5):checked ~ .H5_btn_BOX1>.H5-btn1:nth-of-type(5){opacity: 1;}
  	  	.H5_KV>input[type="radio"]:nth-of-type(6):checked ~ .H5_btn_BOX1>.H5-btn1:nth-of-type(6){opacity: 1;}
  	  	.H5_KV>input[type="radio"]:nth-of-type(7):checked ~ .H5_btn_BOX1>.H5-btn1:nth-of-type(7){opacity: 1;}
  	  	.H5_KV>input[type="radio"]:nth-of-type(8):checked ~ .H5_btn_BOX1>.H5-btn1:nth-of-type(8){opacity: 1;}

  	  	.H5-LP-BOX>div>div{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}

  	  	.H5-LP>input[type="radio"]:nth-of-type(1):checked ~ div>.H5-LP-BOX>div>div{transform: translateX(0);}
  	  	.H5-LP>input[type="radio"]:nth-of-type(2):checked ~ div>.H5-LP-BOX>div>div{transform: translateX(-100%);}
  	  	.H5-LP>input[type="radio"]:nth-of-type(3):checked ~ div>.H5-LP-BOX>div>div{transform: translateX(-200%);}
  	  	.H5-LP>input[type="radio"]:nth-of-type(4):checked ~ div>.H5-LP-BOX>div>div{transform: translateX(-300%);}
  	  	.H5-LP>input[type="radio"]:nth-of-type(5):checked ~ div>.H5-LP-BOX>div>div{transform: translateX(-400%);}
  	  	.H5-LP>input[type="radio"]:nth-of-type(6):checked ~ div>.H5-LP-BOX>div>div{transform: translateX(-500%);}
  	  	.H5-LP>input[type="radio"]:nth-of-type(7):checked ~ div>.H5-LP-BOX>div>div{transform: translateX(-600%);}
  	  	.H5-LP>input[type="radio"]:nth-of-type(8):checked ~ div>.H5-LP-BOX>div>div{transform: translateX(-700%);}
  	  	.H5-LP>input[type="radio"]:nth-of-type(9):checked ~ div>.H5-LP-BOX>div>div{transform: translateX(-800%);}

  	  	.H5-LP-btn{cursor: pointer;}
  	  	.H5-LP-btn>div{opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
  	  	.H5-LP-btn:hover>div{opacity: 0.5;}

  	  	.H5-LP>input[type="radio"]:nth-of-type(1):checked ~ div>.H5-LP-btn:nth-of-type(1)>div{opacity: 0.5;}
  	  	.H5-LP>input[type="radio"]:nth-of-type(2):checked ~ div>.H5-LP-btn:nth-of-type(2)>div{opacity: 0.5;}
  	  	.H5-LP>input[type="radio"]:nth-of-type(3):checked ~ div>.H5-LP-btn:nth-of-type(3)>div{opacity: 0.5;}
  	  	.H5-LP>input[type="radio"]:nth-of-type(4):checked ~ div>.H5-LP-btn:nth-of-type(4)>div{opacity: 0.5;}
  	  	.H5-LP>input[type="radio"]:nth-of-type(5):checked ~ div>.H5-LP-btn:nth-of-type(5)>div{opacity: 0.5;}
  	  	.H5-LP>input[type="radio"]:nth-of-type(6):checked ~ div>.H5-LP-btn:nth-of-type(6)>div{opacity: 0.5;}
  	  	.H5-LP>input[type="radio"]:nth-of-type(7):checked ~ div>.H5-LP-btn:nth-of-type(7)>div{opacity: 0.5;}
  	  	.H5-LP>input[type="radio"]:nth-of-type(8):checked ~ div>.H5-LP-btn:nth-of-type(8)>div{opacity: 0.5;}
  	  	.H5-LP>input[type="radio"]:nth-of-type(9):checked ~ div>.H5-LP-btn:nth-of-type(9)>div{opacity: 0.5;}

  	  	.H5_BANNER1{
  	  	&::-webkit-scrollbar{
      		height: 0.4rem;
      	
      	}
      	&::-webkit-scrollbar-track {
      		background-color: rgba(255, 255, 255, 0.2);
      		border-radius: 10px;
      		margin: 0 2rem;
      	}
      	 &::-webkit-scrollbar-thumb{
      	 	background-color: var(--lightblue);
      	 	border-radius: 10px;
      	 }	
      }		


      .H5-VIDEO-btn{cursor: pointer;}
      .H5-VIDEO-btnBOX>.H5-VIDEO-btn>div{opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
      .H5-VIDEO-btn:hover>div{opacity: 1;}

      .H5_BANNER-VIDEO>input[type="radio"]:nth-of-type(1):checked ~ .H5-VIDEO-btnBOX>.H5-VIDEO-btn:nth-of-type(1)>div{opacity: 1;}
      .H5_BANNER-VIDEO>input[type="radio"]:nth-of-type(2):checked ~ .H5-VIDEO-btnBOX>.H5-VIDEO-btn:nth-of-type(2)>div{opacity: 1;}

      .H5-VIDEO-BOX>div{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}
      .H5_BANNER-VIDEO>input[type="radio"]:nth-of-type(1):checked ~ .H5-VIDEO-BOX>div{transform: translateX(0);}
      .H5_BANNER-VIDEO>input[type="radio"]:nth-of-type(2):checked ~ .H5-VIDEO-BOX>div{transform: translateX(-50%);}

      .H5_BANNER2_BTN{cursor: pointer;opacity: 0.2;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
      .H5_BANNER2_BTN:hover{opacity: 1;}
      .H5_BANNER2_SHADOW{opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
      div>.H5_BANNER2_BOX>div{cursor: pointer;}
      div>.H5_BANNER2_BOX>div:hover>.H5_BANNER2_SHADOW{opacity: 0.3;}

      .H5_BANNER2>input[type="radio"]:nth-of-type(1):checked ~ .H5_BANNER2_BTN_BOX>.H5_BANNER2_BTN:nth-of-type(1){opacity: 1;}
      .H5_BANNER2>input[type="radio"]:nth-of-type(2):checked ~ .H5_BANNER2_BTN_BOX>.H5_BANNER2_BTN:nth-of-type(2){opacity: 1;}
      .H5_BANNER2>input[type="radio"]:nth-of-type(3):checked ~ .H5_BANNER2_BTN_BOX>.H5_BANNER2_BTN:nth-of-type(3){opacity: 1;}

      
      div>.H5_BANNER2_BOX>div{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}
      .H5_BANNER2>input[type="radio"]:nth-of-type(1):checked ~ div>.H5_BANNER2_BOX>div{transform: translateX(0);}
      .H5_BANNER2>input[type="radio"]:nth-of-type(2):checked ~ div>.H5_BANNER2_BOX>div{transform: translateX(-100%);}
      .H5_BANNER2>input[type="radio"]:nth-of-type(3):checked ~ div>.H5_BANNER2_BOX>div{transform: translateX(-200%);}

      .H5_BANNER2_BOX>div>div:nth-of-type(4){opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
      .H5_BANNER2_BOX>div:hover>div:nth-of-type(4){opacity: 1;}


      .H5_BANNER3_BTN{cursor: pointer;opacity: 0.2;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
      .H5_BANNER3_BTN:hover{opacity: 1;}
      .H5_BANNER3_SHADOW{opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
      div>.H5_BANNER3_BOX>div{cursor: pointer;}
      div>.H5_BANNER3_BOX>div:hover>.H5_BANNER3_SHADOW{opacity: 0.3;}

     

      .H5_BANNER3>input[type="radio"]:nth-of-type(1):checked ~ .H5_BANNER3_BTN_BOX>.H5_BANNER3_BTN:nth-of-type(1){opacity: 1;}
      .H5_BANNER3>input[type="radio"]:nth-of-type(2):checked ~ .H5_BANNER3_BTN_BOX>.H5_BANNER3_BTN:nth-of-type(2){opacity: 1;}
      .H5_BANNER3>input[type="radio"]:nth-of-type(3):checked ~ .H5_BANNER3_BTN_BOX>.H5_BANNER3_BTN:nth-of-type(3){opacity: 1;}

      
      div>.H5_BANNER3_BOX>div{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}
      .H5_BANNER3>input[type="radio"]:nth-of-type(1):checked ~ div>.H5_BANNER3_BOX>div{transform: translateX(0);}
      .H5_BANNER3>input[type="radio"]:nth-of-type(2):checked ~ div>.H5_BANNER3_BOX>div{transform: translateX(-100%);}
      .H5_BANNER3>input[type="radio"]:nth-of-type(3):checked ~ div>.H5_BANNER3_BOX>div{transform: translateX(-200%);}

      .H5_BANNER3_BOX>div>div:nth-of-type(3){opacity: 1;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
      .H5_BANNER3_BOX>div:hover>div:nth-of-type(3){opacity: 0;}
      .H5_BANNER3_BOX>div>div:nth-of-type(4){opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
      .H5_BANNER3_BOX>div:hover>div:nth-of-type(4){opacity: 1;}

      .H5_BANNER_KV_SCROLL{scrollbar-width: none;}
      .H5_BANNER_KV_SCROLL::-webkit-scrollbar{display: none;}

      .H5_AD_KV_BTN{cursor: pointer;overflow: hidden;border-radius: 15px;}
	  .H5_AD_KV_BTN>div{position: absolute;left: 0;top: 0;opacity: 0;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
	  .H5_AD_KV_BTN:hover>div{opacity: 0.5;}

	  .H5_AD_KV_BOX>div{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(1):checked ~ .H5_AD_KV_BOX>div{transform: translateX(0);}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(2):checked ~ .H5_AD_KV_BOX>div{transform: translateX(-12.5%);}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(3):checked ~ .H5_AD_KV_BOX>div{transform: translateX(-25%);}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(4):checked ~ .H5_AD_KV_BOX>div{transform: translateX(-37.5%);}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(5):checked ~ .H5_AD_KV_BOX>div{transform: translateX(-50%);}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(6):checked ~ .H5_AD_KV_BOX>div{transform: translateX(-62.5%);}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(7):checked ~ .H5_AD_KV_BOX>div{transform: translateX(-75%);}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(8):checked ~ .H5_AD_KV_BOX>div{transform: translateX(-87.5%);}

	  .H5_AD_KV>input[type="radio"]:nth-of-type(1):checked ~ .H5_AD_KV_BTN_BOX>div>.H5_AD_KV_BTN_BOX2:nth-of-type(1)>.H5_AD_KV_BTN:nth-of-type(1)>div{opacity: 0.5;}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(2):checked ~ .H5_AD_KV_BTN_BOX>div>.H5_AD_KV_BTN_BOX2:nth-of-type(1)>.H5_AD_KV_BTN:nth-of-type(2)>div{opacity: 0.5;}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(3):checked ~ .H5_AD_KV_BTN_BOX>div>.H5_AD_KV_BTN_BOX2:nth-of-type(1)>.H5_AD_KV_BTN:nth-of-type(3)>div{opacity: 0.5;}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(4):checked ~ .H5_AD_KV_BTN_BOX>div>.H5_AD_KV_BTN_BOX2:nth-of-type(1)>.H5_AD_KV_BTN:nth-of-type(4)>div{opacity: 0.5;}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(5):checked ~ .H5_AD_KV_BTN_BOX>div>.H5_AD_KV_BTN_BOX2:nth-of-type(2)>.H5_AD_KV_BTN:nth-of-type(1)>div{opacity: 0.5;}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(6):checked ~ .H5_AD_KV_BTN_BOX>div>.H5_AD_KV_BTN_BOX2:nth-of-type(2)>.H5_AD_KV_BTN:nth-of-type(2)>div{opacity: 0.5;}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(7):checked ~ .H5_AD_KV_BTN_BOX>div>.H5_AD_KV_BTN_BOX2:nth-of-type(2)>.H5_AD_KV_BTN:nth-of-type(3)>div{opacity: 0.5;}
	  .H5_AD_KV>input[type="radio"]:nth-of-type(8):checked ~ .H5_AD_KV_BTN_BOX>div>.H5_AD_KV_BTN_BOX2:nth-of-type(2)>.H5_AD_KV_BTN:nth-of-type(4)>div{opacity: 0.5;}

	  .H5_AD_KV_BTN2{cursor: pointer;opacity: 0.2;transition-timing-function: ease-in-out;transition: opacity 0.5s;}
	  .H5_AD_KV_BTN2:hover{opacity: 1;}

	  .H5_AD_KV_BTN_BOX2{transform: translateX(0);transition-timing-function: ease-in-out;transition: transform 0.5s;} 
	  .H5_AD_KV_BTN_BOX>input[type="radio"]:nth-of-type(1):checked ~ div>.H5_AD_KV_BTN_BOX2{transform: translateX(0);}
	  .H5_AD_KV_BTN_BOX>input[type="radio"]:nth-of-type(2):checked ~ div>.H5_AD_KV_BTN_BOX2{transform: translateX(-100%);}

	  .H5_AD_KV_BTN_BOX>input[type="radio"]:nth-of-type(1):checked ~.H5_AD_KV_BTN_BOX3>.H5_AD_KV_BTN2:nth-of-type(1){opacity: 1;}
	  .H5_AD_KV_BTN_BOX>input[type="radio"]:nth-of-type(2):checked ~.H5_AD_KV_BTN_BOX3>.H5_AD_KV_BTN2:nth-of-type(2){opacity: 1;}

	  .H5-FARBIC_DP{
		transform: translateX(0);
		animation: H5-FARBIC_DP 25S ease-in-out infinite;
	  }

	  @keyframes H5-FARBIC_DP{
		0%   {transform: translateX(0);}
		12%  {transform: translateX(0);}
		20%  {transform: translate(-100%);}
		32%  {transform: translateX(-100%);}
		40%  {transform: translateX(-200%);}
		52%  {transform: translateX(-200%);}
		60%  {transform: translateX(-300%);}
		72%  {transform: translateX(-300%);}
		80%  {transform: translateX(-400%);}
		92%  {transform: translateX(-400%);}
		100% {transform: translateX(-500%);}  
	  }

	  .H5_list{
		transform: translateX(0);
		animation: H5_AUTORUN 10s ease-in-out infinite;
	  }

	@keyframes H5_AUTORUN{
		0%   {transform: translateX(0);}
		100% {transform: translate(-50%);}
	}

	
	.H5_DP1{clip-path: polygon(0% 0%,0% 0%,100% 0%,100% 0%);}
	.H5_DP_IMG{scale: 1.0;filter: blur(0px);}
	.H5_DP1_BG{opacity: 1;}
	
	.H5_DP2_BOX {will-change: transform;}
	.H5_DP2{transform: translateX(0);clip-path: polygon(100% 0%,100% 100%,100% 100%,100% 0%);}
	.H5_DP2:nth-of-type(1){width: 0%;right: -100%;}
	.H5_DP2:nth-of-type(2){width: 0%;right: -100%;}
	.H5_DP2:nth-of-type(3){width: 0%;right: -100%;}
	/* .H5_DP2_SCALE{clip-path: polygon(0% 0%,0% 100%,100% 100%,100% 0%);} */
	.H5_DP3_TOP{clip-path: polygon(100% 0%,100% 100%,100% 100%,100% 0%);}
	.H5_DP3{cursor: pointer;clip-path: polygon(100% 0%,100% 100%,100% 100%,100% 0%);}
	.H5_DP3>div{opacity: 1;transition-timing-function: ease-in-out;transition: opacity 0.2s;}
	.H5_DP3:hover>div{opacity: 0;}

	.H5_DP4{
		transform: translateX(0);
		animation: H5_DP4 10s ease-in-out infinite;
	}

	@keyframes H5_DP4{
		0%   {transform: translateX(0);}
		30%  {transform: translateX(0);}
		50%  {transform: translateX(-100%);}
		80%  {transform: translateX(-100%);}
		100% {transform: translateX(-200%);}
	}

	.H5_DP5{
		transform: translateX(0);
		animation: H5_DP5 10s ease-in-out infinite;
	}

	@keyframes H5_DP5{
		0%   {transform: translateX(0);}
		100% {transform: translateX(-80%);}
	}

	.H5_BANNER1{
		cursor: move; /* fallback if grab cursor is unsupported */
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
	}

	.H5_BANNER1:active{
		cursor: grabbing;
		cursor: -moz-grabbing;
		cursor: -webkit-grabbing;
	}

	.H5_BANNER1_SCROLL{transform: translateX(0%);}

	
	@media screen and (max-width:768px){
		body::-webkit-scrollbar{
      		width: 2.6vw;
			height: 2em;
			margin:10px;
      	}
      	body::-webkit-scrollbar-track {
			border-radius: 100vw;
      		background-color: rgb(232, 232, 232);
      		-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
			padding: 10px;
      		
      	}
      	body::-webkit-scrollbar-thumb{
			cursor: move; /* fallback if grab cursor is unsupported */
			cursor: grab;
			cursor: -moz-grab;
			cursor: -webkit-grab;
			/* -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.1);  */
			border: 0.18rem transparent solid;
      	 	background:linear-gradient(to bottom, #10bdf5 5%, #1091f5 100%);
      	 	border-radius: 100vw;
			background-clip: padding-box;
      	}
		
		body::-webkit-scrollbar-thumb:active{
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}
		/* body::-webkit-scrollbar-thumb:hover{
			background:linear-gradient(to bottom, #10bdf5 5%, #1091f5 100%);
      	}	 */
	}

	@media screen and (min-width:769px){
		body::-webkit-scrollbar{
      		width: 1rem;
			height: 2em;
			margin:10px;
      	}
      	body::-webkit-scrollbar-track {
			border-radius: 100vw;
      		background-color: rgb(232, 232, 232);
      		-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
			padding: 10px;
      		
      	}
      	body::-webkit-scrollbar-thumb{
			cursor: move; /* fallback if grab cursor is unsupported */
			cursor: grab;
			cursor: -moz-grab;
			cursor: -webkit-grab;
			/* -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.1);  */
			border: 0.2rem transparent solid;
      	 	background:linear-gradient(to bottom, #10bdf5 5%, #1091f5 100%);
      	 	border-radius: 100vw;
			background-clip: padding-box;
      	}
		body::-webkit-scrollbar-thumb:active{
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}
		/* body::-webkit-scrollbar-thumb:hover{
			background:linear-gradient(to bottom, #10bdf5 5%, #1091f5 100%);
      	}	 */
	}

	
	@media screen and (max-width:768px){
		.H5_KV_BOX::-webkit-scrollbar{
      		height: 0;
      	}
	}